<html>
<head>
    <title>Dungeon Dual Game {{ game.id }}</title>
	<!-- <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css' /> -->
	{% load staticfiles %}

	<!-- <link href="{% static "ddual/css/consolas.css" %}" rel="stylesheet" type="text/css" /> -->
	<link href="{% static "ddual/css/dejavusansmono.css" %}" rel="stylesheet" type="text/css" />
	<link href="{% static "ddual/css/robocaptain.css" %}" rel="stylesheet" type="text/css" />

    <script src="{% static "ddual/js/lib/jquery.min.js" %}"></script>
	<script src="{% static "ddual/js/lib/rot.js" %}"></script>
	<script src="{% static "ddual/js/lib/gridmangler.js" %}"></script>
	
	<script src="{% static "ddual/js/game/_top.js" %}"></script>
	<script src="{% static "ddual/js/game/config.js" %}"></script>
	<script src="{% static "ddual/js/game/utils.js" %}"></script>
	<script src="{% static "ddual/js/game/keymap.js" %}"></script>

	<script src="{% static "ddual/js/game/socket.js" %}"></script>

	<script src="{% static "ddual/js/game/intel.js" %}"></script>
	<script src="{% static "ddual/js/game/levelgen.js" %}"></script>
	<script src="{% static "ddual/js/game/brew_interface.js" %}"></script>
	<script src="{% static "ddual/js/game/brew_game.js" %}"></script>
	<script src="{% static "ddual/js/game/brew_abilities.js" %}"></script>

	<script src="{% static "ddual/js/game/terrain.js" %}"></script>
	<script src="{% static "ddual/js/game/feature.js" %}"></script>
	<script src="{% static "ddual/js/game/item.js" %}"></script>
	<script src="{% static "ddual/js/game/monster.js" %}"></script>
	<script src="{% static "ddual/js/game/objects.js" %}"></script>
	<script src="{% static "ddual/js/game/factory.js" %}"></script>
	<script src="{% static "ddual/js/game/pathmap.js" %}"></script>
	<script src="{% static "ddual/js/game/animation.js" %}"></script>
	<script src="{% static "ddual/js/game/agent.js" %}"></script>
	<script src="{% static "ddual/js/game/messages.js" %}"></script>

	<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28047414-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

	</script>
	
    <script type="text/javascript">
		var brew_game, display;
		var grid_manager;
		var audio_assets;
		var audio_buffers;
		var spacing = 1.0;
		var font_size = 16;
		var font_family = "DejaVuSansMono";
		var game_seed = "{{ game.gamekey }}";
		var player_name = "{{ user.username }}";

		$(document).ready(function ( ) {

			$(document).on("keydown", function (e) {
				// sorry, preventing default behavior for tab and backspace
    			if ((e.which === 8 && !$(e.target).is("input, textarea")) || (e.keyCode === 9)) {
        			e.preventDefault();
    			}
			});

			startGame(Brew.hero_types.warrior);

		}); // end document.ready

		var selectWarrior = function () {
			startGame(Brew.hero_types.warrior);
		};

		var selectWizard = function () {
			startGame(Brew.hero_types.wizard);
		}


        var startGame = function (hero_type) {

        	$("#id_pre_intro").remove();

			var display = new ROT.Display({
				width: Brew.panels.full.width,
				height: Brew.panels.full.height,
				fontSize: font_size,
				fontFamily: font_family,
				spacing: spacing,
				bg: ROT.Color.toHex(Brew.colors.black)
			});
			
			var layer_display = new ROT.Display({
				width: Brew.panels.full.width,
				height: Brew.panels.full.height,
				fontSize: font_size,
				fontFamily: font_family,
				spacing: spacing,
				bg: "transparent"
			});

			var dialog_display = new ROT.Display({
				width: Brew.panels.full.width,
				height: Brew.panels.full.height,
				fontSize: font_size,
				fontFamily: font_family,
				spacing: spacing,
				bg: "transparent"
			});

			// set up main ROT.js display
			$("#id_div_game").append(display.getContainer());
			var tile_width = display.getContainer().width / Brew.panels.full.width;
			var tile_height = display.getContainer().height / Brew.panels.full.height;

			// setup grid mangler -- feed off layer display because its on top?
			grid_manager = gridmangler(dialog_display.getContainer(), tile_width, tile_height);
			grid_manager.addGridEvent("gainfocus", 
				function (grid_xy) {
					brew_game.ui.mouseGainFocus(grid_xy);
				}
			);
			grid_manager.addGridEvent("leavefocus", 
				function (grid_xy) {
					brew_game.ui.mouseLeaveFocus(grid_xy);
				}
			);
			grid_manager.addGridEvent("mousedown", 
				function (grid_xy, button, shift_key) {
					brew_game.ui.mouseDown(grid_xy, button, shift_key);
				}
			);
			grid_manager.addGridEvent("longpress", 
				function (grid_xy, button, shift_key) {
					brew_game.ui.mouseLongClick(grid_xy, button, shift_key);
				}
			);

			var display_info = {
				"game": display,
				"layer": layer_display,
				"dialog": dialog_display,
			}
			brew_game = new Brew.Game(display_info, {{ game.id }}, {{ user.id }}, game_seed);
			brew_game.game_id = {{ game.id }};
			brew_game.user_id = {{ user.id }};
			brew_game.start(player_name, hero_type);

			$("#id_div_layer").attr("width", display.getContainer().width);
			$("#id_div_layer").attr("height", display.getContainer().height);
			$("#id_div_layer").append(layer_display.getContainer());
			$("#id_div_layer").hide()

			$("#id_div_dialog").attr("width", display.getContainer().width);
			$("#id_div_dialog").attr("height", display.getContainer().height);
			$("#id_div_dialog").append(dialog_display.getContainer());
			$("#id_div_dialog").hide()

			// disable double-click to select
			display.getContainer().onselectstart = function () { return false; }
			layer_display.getContainer().onselectstart = function () { return false; }
			dialog_display.getContainer().onselectstart = function () { return false; }
			
			$(document).keydown(function (event) {
				brew_game.keypress(event);
			});
			
			brew_game.debugDropdownMenu();
			
        } // end startGame()
		
	</script>
</head>

<body>
<pre id="id_pre_intro">

  ____                                       ____              _ 
 |  _ \ _   _ _ __   __ _  ___  ___  _ __   |  _ \ _   _  __ _| |
 | | | | | | | '_ \ / _` |/ _ \/ _ \| '_ \  | | | | | | |/ _` | |
 | |_| | |_| | | | | (_| |  __/ (_) | | | | | |_| | |_| | (_| | |
 |____/ \__,_|_| |_|\__, |\___|\___/|_| |_| |____/ \__,_|\__,_|_|
                    |___/                                        
 
			<span>Created by <a href="http://heroicfisticuffs.blogspot.com">Todd `Heroic Fisticuffs` Page</a> for the 2014 7DRL Challenge</span>

	The evil TIME MASTER has stolen the powerful Amulet of Yendor and hidden himself 
	away in the mysterious CAVES OF CHAOS!

	The King sent a battalion of his greatest wizards and warriors to retrive it, 
	but the caves twist time and space -- leaving each adventurer trapped 
	in a splintered reality apart from his or her allies!

	None returned...


	Now, with the help of a mysterious Artifact known as the TIME ORB, the
	task has fallen upon <strong>YOU</strong>... all that is left of the King's mighty army:


	A heroic knight's trusty <strong class="squire">squire</strong>, and a powerful wizard's young <strong class="apprentice">apprentice</strong>

		              	  <a class="herotype" id="squire" href="javascript:void(0)" onclick="selectWarrior()">@</a>                    		  <a class="herotype" id="apprentice" href="javascript:void(0)" onclick="selectWizard()">@</a>


		<span>Controls:</span>
		<strong>WASD</strong> - Move
		<strong>space</strong> - Rest/Pick-up
		<strong>123456</strong> - Toggle ability 
		<strong>z</strong> - List Abilities
		<strong>mouse click</strong> - Use ability
		              (<i>mouse click on split screen to help your ally</i>)
		<strong>i</strong> - Inventory (equip, drop, use, <i>GIVE</i>, etc)
		<strong>u</strong> - Use (doors, or items)
		<strong>t</strong> - Talk (chat to ally)

		<strong>?</strong> - HELP

   <span>Select SQUIRE or APPRENTICE to start</span>


</pre>
	<table id="id_table_main" >
		<tr>
			<td>
				<div id="id_div_content">
					<div id="id_div_game"></div>
					<div id="id_div_layer"></div>
					<div id="id_div_dialog"></div>

				</div>
			</td>
		</tr>

	</table>
	
	<div id="id_debug_footer">
		<select id="id_select_debug"/>
	</div>

</body>
</html>
