{% extends "base.html" %}
{% load staticfiles %}

{% block title %}levelgen test{% endblock %}

{% block scripts %}
	<link href="{% static "ddual/css/consolas.css" %}" rel="stylesheet" type="text/css" />
	<link href="{% static "ddual/css/robocaptain.css" %}" rel="stylesheet" type="text/css" />

    <script src="{% static "ddual/js/lib/jquery.min.js" %}"></script>
	<script src="{% static "ddual/js/lib/rot.min.js" %}"></script>
	<script src="{% static "ddual/js/lib/gridmangler.js" %}"></script>
	
	<script src="{% static "ddual/js/game/_top.js" %}"></script>
	<script src="{% static "ddual/js/game/config.js" %}"></script>

	<script src="{% static "ddual/js/game/socket.js" %}"></script>

	<script src="{% static "ddual/js/game/intel.js" %}"></script>
	<script src="{% static "ddual/js/game/levelgen.js" %}"></script>
	<script src="{% static "ddual/js/game/brew_interface.js" %}"></script>
	<script src="{% static "ddual/js/game/brew_game.js" %}"></script>
	<script src="{% static "ddual/js/game/brew_abilities.js" %}"></script>
	<script src="{% static "ddual/js/game/utils.js" %}"></script>
	<script src="{% static "ddual/js/game/terrain.js" %}"></script>
	<script src="{% static "ddual/js/game/feature.js" %}"></script>
	<script src="{% static "ddual/js/game/item.js" %}"></script>
	<script src="{% static "ddual/js/game/monster.js" %}"></script>
	<script src="{% static "ddual/js/game/objects.js" %}"></script>
	<script src="{% static "ddual/js/game/factory.js" %}"></script>
	<script src="{% static "ddual/js/game/pathmap.js" %}"></script>
	<script src="{% static "ddual/js/game/animation.js" %}"></script>
	<script src="{% static "ddual/js/game/agent.js" %}"></script>
	<script src="{% static "ddual/js/game/messages.js" %}"></script>
    <script type="text/javascript">
		var display;
		
        $(document).ready(function ( ) {
			var display = new ROT.Display({
				width: Brew.config.screen_tiles_width,
				height: Brew.config.screen_tiles_height,
				fontSize: 20,
				fontFamily: "Consolas",
				spacing: 1
			});
			
			$("#id_div_game").append(display.getContainer());
			var tile_width = display.getContainer().width / Brew.config.screen_tiles_width;
			var tile_height = display.getContainer().height / Brew.config.screen_tiles_height;
			
			tester = new LevelGeneratorTester(display);
			tester.createAndShow();
        }); // end document.ready
		
		$(document).keydown(function (event) {
			if (event.keyCode === 32) {
				tester.createAndShow();
			}
		});
	</script>

{% endblock %}

{% block content %}

<div id="id_div_content">
    <div id="id_div_game"></div>
</div>
{% endblock %}