{% extends "base.html" %}
{% load staticfiles %}

{% block title %}levelgen test{% endblock %}

{% block scripts %}
	<link href="{% static "ddual/css/consolas.css" %}" rel="stylesheet" type="text/css" />
	<link href="{% static "ddual/css/robocaptain.css" %}" rel="stylesheet" type="text/css" />

    <script src="{% static "ddual/js/jquery.min.js" %}"></script>
	<script src="{% static "ddual/js/rot.min.js" %}"></script>
	<script src="{% static "ddual/js/gridmangler.js" %}"></script>
	
	<script src="{% static "ddual/js/_top.js" %}"></script>
	<script src="{% static "ddual/js/config.js" %}"></script>

	<script src="{% static "ddual/js/socket.js" %}"></script>

	<script src="{% static "ddual/js/intel.js" %}"></script>
	<script src="{% static "ddual/js/levelgen.js" %}"></script>
	<script src="{% static "ddual/js/brew_interface.js" %}"></script>
	<script src="{% static "ddual/js/brew_game.js" %}"></script>
	<script src="{% static "ddual/js/brew_abilities.js" %}"></script>
	<script src="{% static "ddual/js/utils.js" %}"></script>
	<script src="{% static "ddual/js/terrain.js" %}"></script>
	<script src="{% static "ddual/js/feature.js" %}"></script>
	<script src="{% static "ddual/js/item.js" %}"></script>
	<script src="{% static "ddual/js/monster.js" %}"></script>
	<script src="{% static "ddual/js/objects.js" %}"></script>
	<script src="{% static "ddual/js/factory.js" %}"></script>
	<script src="{% static "ddual/js/pathmap.js" %}"></script>
	<script src="{% static "ddual/js/animation.js" %}"></script>
	<script src="{% static "ddual/js/agent.js" %}"></script>
	<script src="{% static "ddual/js/messages.js" %}"></script>
    <script type="text/javascript">
		var display;
		
        $(document).ready(function ( ) {
			var display = new ROT.Display({
				width: Brew.config.screen_tiles_width,
				height: Brew.config.screen_tiles_height,
				fontSize: 20,
				fontFamily: "Consolas",
				spacing: 1
			});
			
			$("#id_div_game").append(display.getContainer());
			var tile_width = display.getContainer().width / Brew.config.screen_tiles_width;
			var tile_height = display.getContainer().height / Brew.config.screen_tiles_height;
			
			tester = new LevelGeneratorTester(display);
			tester.createAndShow();
        }); // end document.ready
		
		$(document).keydown(function (event) {
			if (event.keyCode === 32) {
				tester.createAndShow();
			}
		});
	</script>

{% endblock %}

{% block content %}

<div id="id_div_content">
    <div id="id_div_game"></div>
</div>
{% endblock %}